.skip-link {
  position: fixed;
  z-index: 1000;
  top: var(--space-4);
  left: var(--space-4);
  padding: var(--space-3) var(--space-4);
  border-radius: var(--radius-xs);
  background: var(--color-blue-800);
  color: var(--color-white);
  transform: translateY(calc(-100% - var(--space-6)));
  transition: transform var(--transition-fast);
}

.skip-link:focus {
  transform: translateY(0);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
