.diagonal-lines {
  --diagonal-lines-color: var(--color-blue-600);

  display: block;
  align-self: stretch;
  flex: 0 0 0.875rem;
  width: 0.875rem;
  background-image: repeating-linear-gradient(
    135deg,
    var(--color-transparent) 0 5.75px,
    var(--diagonal-lines-color) 5.75px 6.75px,
    var(--color-transparent) 6.75px 8.13px
  );
}

.diagonal-lines--white {
  --diagonal-lines-color: var(--color-white);
}

.diagonal-lines--blue-600 {
  --diagonal-lines-color: var(--color-blue-600);
}
